 
<!--br>
<br>
<br>
<div  *ngIf="identity" id="home-user-logged">
  <p>
    Bienvenido {{ identity.name }}

  </p>
</div>

<div  *ngIf="!identity" id="home-user-unlogged">
  <p>
    Bienvenido Usuario NO LOGUEADO

  </p>
</div>
<div id="slider">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <div class="block">
<div class ="imagen">
              <img src="../assets/caja.png" width="100%" height="430px">
            <h1 class="Titulo">MI PAQUETE  </h1>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="intro">
      <div class="container">
        <div class="row">
          <div class="cubo">
            <div class="block">
              <div class="sesion">
                  <button  routerLink="/calculadora" routerLinkActive="active" mat-button width="300px"><h2>CALCULADORA DE ENVIO</h2></button>

      
                 
                <hr>
               
                <p>Compara los precios y servicios, elige el más adecuado para ti y contrátalo, Ahorra 
                  en tus envios.Te proponemos las mejores tarifas para particulares y  empresas.
                </p>
              </div>
             
            </div>
          </div> 
         
        </div>
        <div class="cubo2">
            <div class="block2">
              <div class="sesion2">
               
        
                <img src="../assets/calculadora.jpg" height="200px" >
              
              </div>
             
            </div>
          </div> 
         
      </div>
      <div class="container">
          <div class="row">
            <div class="cubo3">
              <div class="block3">
                <div class="sesion3">
                    <button  routerLink="/calculadora" routerLinkActive="active" mat-button width="300px"><h2>ENVIOS</h2></button>
                  <hr> 
                 
                  <p>Compara los precios y servicios, elige el más adecuado para ti y contrátalo, Ahorra 
                    en tus envios.Te proponemos las mejores tarifas para particulares y  empresas.
                  </p>
                </div>
               
              </div>
            </div> 
           
          </div>
          <div class="cubo4">
              <div class="block4">
                <div class="sesion4">
                 
          
                  <img src="../assets/envios.png" height="200px" >
                
                </div>
               
              </div>
            </div> 
           
        </div>

      
    </section-->