

<!--div class="container">

  <fieldset>
    
  <div class="calculadora">
  
      <mat-form-field class="prueba">
  
              
          <input matInput placeholder="Origen">
        </mat-form-field>
  
        <mat-form-field class="destino">
  
              
            <input matInput placeholder="Destino">
          </mat-form-field>
    
  
          <mat-checkbox class="paquete">Paquete</mat-checkbox>
          <mat-checkbox>Sobre</mat-checkbox>
  
  
          <mat-form-field class="cantidad">
  
              
              <input matInput placeholder="Cantidad">
            </mat-form-field>
      </div>
  
      <div>
  
          <mat-form-field class="prueba3">
  
              
              <input matInput placeholder="Ancho">
            </mat-form-field>
  
            <mat-form-field class="prueba3">
  
              
                <input matInput placeholder="Alto">
              </mat-form-field>
  
              <mat-form-field class="prueba3">
  
              
                  <input matInput placeholder="Largo">
                </mat-form-field>
  
       <label >cm</label>     
  
       <img class="logito" src="../assets/cajita.png" width="50px">
  
       <mat-form-field class="peso">
  
              
          <input matInput placeholder="peso">
        </mat-form-field>
      </div>
  
      <div>
          <mat-form-field class="valor">
  
              
              <input matInput placeholder="valor declarado">
            </mat-form-field>
  
            <mat-form-field class="carga">
  
              
                <input matInput placeholder="Tipo de carga">
              </mat-form-field>
  
  
      </div>
  
      <div>
  
        <button class="boton" mat-button> Comparar</button>
      </div>
  
  </fieldset>
  
  
  </div-->