
<div  *ngIf="identity" id="home-user-logged">
  <p>
    Bienvenido {{ identity.name }}</p>

    </div>

<section class="calculadora">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-row">
            <div class="form-group col-md-3">
              <input class="form-control" type="text" input-group-addon placeholder="Origen">
            </div>

            <div class="form-group col-md-3">
              <input class="form-control" type="text" input-group-addon placeholder="Destino">
            </div>

            <div class="form-group col-md-3">
              <label class="custom-control custom-radio">
                <input id="radio1" name="radio" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">paquete</span>

              </label>
              <label class="custom-control custom-radio">
                <input id="radio1" name="radio" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">sobre</span>

              </label>
            </div>

            <div class="form-group col-md-3">
              <input class="form-control" input-group-addon placeholder="Cantidad">
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-2">

              <input class="form-control" input-group-addon placeholder="Ancho">
            </div>

            <div class="form-group col-md-2">

              <input class="form-control" input-group-addon placeholder="alto">

            </div>

            <div class="form-group col-md-2">
              <input class="form-control" input-group-addon placeholder="largo">
            </div>

            <div class="form-group col-md-2">
              <label>cm</label>
            </div>

            <div class="form-group col-md-2">
              <img class="logito" src="../assets/cajita.png" width="30px">

            </div>

            <div class="form-group col-md-2">
              <input class="form-control" input-group-addon placeholder="peso">

            </div>
          </div>

          <div class="form-row">

            <div class="form-group col-md-3">
              <label>Valor declarado</label>
            </div>
            <div class="form-group col-md-3">
              <input class="form-control" input-group-addon>
            </div>

            <div class="form-group col-md-2">
              <label>Tipo de carga</label>
            </div>
            <div class="form-group col-md-4">
              <input class="form-control" input-group-addon>
            </div>

            <div class="form-group col-md-3 col-md-offset-3">
                <button type="button" class="btn btn-primary" width="400px">Comparar</button>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
</section>