<div class="container">

  <div class="logo">

    <img src="./assets/paquete2.PNG" width="200">
  </div>
  <br>
  <div>
    <mat-form-field class="prueba">
      <input matInput placeholder="Usuario *">
    </mat-form-field>
  </div>
  <mat-form-field class="prueba">
    <input matInput placeholder="Contraseña *">
  </mat-form-field>
  <div class="link">
    <a routerLink="/enviocorreo" routerLinkActive="active">olvidé mi contraseña</a>
  </div>
  <td class="colMsgError"></td>
  <div class="botones">
    <button class="ingresar" mat-button>Ingresar</button>
    <button class="registro" routerLink="/registro" routerLinkActive="active" mat-button>Registrarse</button>

  </div>
</div>