<!--div class="container">
  <div class="logo">
    <img src="./assets/paquete2.PNG" width="200">
  </div>
  <br>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="prueba">
        <input type="email" matInput placeholder="Correo Electronico" name="email" [(ngModel)]="user.email" #email="ngModel"  required>
        <mat-error *ngIf="email.invalid">El campo es requerido</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="prueba">
      <input type="password" matInput placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="user.password"
        required>
    </mat-form-field>
    <div class="link">
      <a routerLink="/enviocorreo" routerLinkActive="active">olvidé mi contraseña</a>
    </div>
    <td class="colMsgError"></td>
    <div class="botones">
      <button class="ingresar" type="submit" mat-button   [disabled]="!loginForm.form.valid" >Ingresar</button>
      <button class="registro" routerLink="/registro" routerLinkActive="active" mat-button>Registrarse</button>
    </div>
    <div *ngIf="errorMessage">
      <div class="alert alert-info" role="alert">
         {{errorMessage}}
      </div>
    </div>
  </form>


</div-->


<div class="auth">
  <div class="auth-container">
    <div class="card">
     
      <div class="auth-content">
          <header class="auth-header">
              <h1 class="auth-title">
                <div class="logo">
                  <span class="l l1"></span>
                  <span class="l l2"></span>
                  <span class="l l3"></span>
                  <span class="l l4"></span>
                  <span class="l l5"></span>
                </div>
                Mi Paquete
              </h1>
            </header>
        <p class="text-center">LOGIN TO CONTINUE</p>
        <form id="login-form" action="/index.html" method="GET" novalidate="">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="email" class="form-control underlined" name="username" id="username" placeholder="Your email address" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control underlined" name="password" id="password" placeholder="Your password" required>
          </div>
          <div class="form-group">
            <label for="remember">
						<input class="checkbox" id="remember" type="checkbox">
						<span>Remember me</span>
					</label>

            <a href="reset.html" class="forgot-btn pull-right">Forgot password?</a>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Login</button>
          </div>
          <div class="form-group">
            <p class="text-muted text-center">Do not have an account? <a href="signup.html">Sign Up!</a></p>
          </div>
        </form>
      </div>
    </div>
    <div class="text-center">
      <a href="index.html" class="btn btn-secondary btn-sm">
			<i class="fa fa-arrow-left"></i> Back to dashboard
		</a>
    </div>
  </div>
</div>